@tailwind base;
@tailwind utilities;

@import './partials/colours.scss';
@import './partials/typography.scss';
@import './partials/buttons.scss';
@import './partials/forms.scss';
@import './partials/sidebar.scss';

body {
  background-color: $core-dark;

  main {
    padding: 2.5rem 1.25rem;
  }
}

body.guest {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;

    h1 {
      width: 100%;
    }
  }
}

body.app {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}