@import './mixins.scss';
@import './colours.scss';

.form-block {
  @include block;
  width: fit-content;
  max-width: 40rem;

  p {
    text-align: center;
  }

  .form-container {
    width: 100%;

    &-btns {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 1.375rem;
    }
  }
}