@mixin button {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 300ms ease;
}

@mixin solidButton($bgColour: false, $hoverColour: false, $textColour: false, $hoverText: false) {
  @include button;

  @if $bgColour {
    background-color: $bgColour;
  } @else {
    background-color: $secondary;
  }

  @if $textColour {
    color: $textColour;
  } @else {
    color: $white;
  }

  &:hover {
    @if $hoverColour {
      background-color: $hoverColour;
    } @else {
      background-color: $primary;
    }

    @if $hoverText {
      color: $hoverText;
    } @else {
      color: $core-dark;
    }
    
  }
}

@mixin outlineButton($colour: false, $hover: false) {
  @include button;
  border: 1px solid;

  @if $colour {
    border-color: $colour;
    color: $color;
  } @else {
    border-color: $primary-dark; 
    color: $primary-dark;
  }

  &:hover {
    @if $hover {
      border-color: $hover;
      color: $hover;
    } @else {
      border-color: $tertiary;
      color: $tertiary;
    }
  }
}

@mixin block {
  padding: 1.875rem 2.5rem 3rem 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.625rem;
  background-color: $core;
  padding: 1.875rem 2.5rem 3rem 2.5rem;
}