@mixin button {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 300ms ease;
}

@mixin solidButton($bgColour: false, $hoverColour: false, $textColour: false, $hoverText: false) {
  @include button;

  @if $bgColour {
    background-color: $bgColour;
  } @else {
    background-color: $secondary;
  }

  @if $textColour {
    color: $textColour;
  } @else {
    color: $white;
  }

  &:hover {
    @if $hoverColour {
      background-color: $hoverColour;
    } @else {
      background-color: $primary;
    }

    @if $hoverText {
      color: $hoverText;
    } @else {
      color: $core-dark;
    }
    
  }
}

@mixin outlineButton($colour) {
  border: 1px solid $colour;
}