@import './colours.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;800&display=swap');

@font-face {
  font-family: 'Guyon Gazebo';
  src: url('../fonts/GuyonGazebo-Regular.otf');
}

%font-sans-serif {
  font-family: 'Manrope', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: $white;
}

%font-display {
  font-family: 'Guyon Gazebo', 'Manrope', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: $white;
}

%uppercase {
  text-transform: uppercase;
}

%h1 {
  font-size: 3.75rem;
  font-style: normal;
  line-height: 4.4375rem;
  @extend %font-display, %uppercase;

  @media only screen and (min-width: 1080px) {
    font-size: 5.75rem;
    line-height: 6.4375rem;
  }
}

%h2 {
  font-size: 2rem;
  font-weight: 800;
  font-style: normal;
  line-height: 2.75rem;
  @extend %font-sans-serif;
}

%h3 {
  @extend %font-sans-serif;
}

%p {
  font-size: 1rem;
  line-height: 1.625rem;
  @extend %font-sans-serif;
}

%a {
  @extend %font-sans-serif;
}

%label {
  font-size: 0.65rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 0.3em;
  color: $border;
  @extend %font-sans-serif, %uppercase;
}

%input {
  @extend %font-sans-serif;
}


label,
.small-heading {
  @extend %label;
}

h1,
.statement-txt-large {
  @extend %h1;
}

h2,
.heading {
  @extend %h2;
}

.btn {
  @extend %font-sans-serif, %p, %uppercase;
}